body{

    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

header{

    background-color: #186CA3;
    color: white;
    padding: 12px;
    cursor:pointer;
    font-family: sans-serif;

}

span{
    padding-right: 5px;
}

.Container{
    display:flex;
}

.menu-block{

    width: 20%;
    background-color: grey;
    height: 100vh;
    padding-left: 20px;
    padding-top: 10px;
    cursor: default;

}
.container-board{ 
   
    width:70%; 
   background-color:rgb(255, 255, 255);
   height: 100vh;

}

#add-board-btn{

    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin-right: 30px;
    height: 40px;
    font-size: 10px;
    padding: 10px;
    background-color: #186d07; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

#btn:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}

#newBoardText{

    padding: 10px;
    width:70%;
    margin-bottom: 10px;
    margin-left: 20px;

}

.add-board-block{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

 }
 
 .project-card{
    
     background-color: grey;
     margin: 10px;
     padding: 5%;
     width:35%;
     color: white;
     border-radius: 2%;
    
}

.boardBlock{
    display: none;
}

#removeBtn{

    font-weight: bold;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    height: 35px;
    font-size: 10px;
    padding: 10px;
    background-color: #d90f0f; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   
} 
#list1, #list2{
   
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    font-family: sans-serif;
    border: none;
  
}

#noDots {
    list-style-type: none;
}

#valueName{
    
    font-size: medium;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    
}

#boardName{
    
    font-weight: bolder;
    padding: 2px;
    margin: 2px;
    margin-left: 20px;

}

#menu-list{

    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000; 
    padding-bottom: 10px; 
    list-style-type: none; /* Remove default list bullets */
    width: 100%;

}

#menuValue{
    
    padding: 10px;
    font-weight: normal;
    font-family: sans-serif;

}



